.Heading{
    text-align: center;
    position: relative;
    margin-left: 350px;
}
.text{
    margin-left: 60px;
    margin-right: 60px;
    text-align: center;
}
.footer{
    margin-top: 180px;
    text-align: center;
}
.hee .fa-sharp fa-solid fa-phone{
align-items: center;
}