.Heading{
    text-align: center;
    margin:auto;
}
.text{
    margin-left: 60px;
    margin-right: 60px;
}
.footer{
    margin-top: 250px;
    text-align: center;
}
.hee .fa-sharp fa-solid fa-phone{
align-items: center;
}